<div class="lightbox-container"
 [ngClass]="{'hidden': !active}">
  <!-- Images -->
  <div *ngIf="event != null"
    class="lightbox-images">
    <div *ngFor="let image of event.images; let i = index;"
      class="lightbox-image"
      [style.background-image]="'url(assets/img/' + event.folder + '/' + image + ')'"
      [ngClass]="{
        'active': i == imageI,
        'left-hidden': i < imageI,
        'right-hidden': i > imageI
      }">
    </div>
  </div>

  <!-- Close button -->
  <button class="close-button"
    (click)="close()">
    <i class="fas fa-times"></i>
  </button>
</div>