<div class="lightbox-container"
 [ngClass]="{'hidden': !active}">
  <!-- Images -->
   @if(event != null) {
    <div class="lightbox-images">
      @for(image of event.images; track $index) {
        <div class="lightbox-image"
          [style.background-image]="'url(assets/img/' + event.folder + '/' + image + ')'"
          [ngClass]="{
            'active': $index == imageI,
            'left-hidden': $index < imageI,
            'right-hidden': $index > imageI
          }">
        </div>
      }
    </div>
   }

  <!-- Close button -->
  <button class="close-button"
    (click)="close()">
    <i class="fas fa-times"></i>
  </button>
</div>