/* Constants */

:root {
  --default-time: 0.2s;
  --slow-time: 0.6s;
  --lightbox-animation-time: 0.3s;

  --main-font-family: "Roboto", sans-serif;
  --main-font-weight: 400;

  /* Light mode colors */
  --text-color: black;
  --background-color: white;
  --list-navigation-selected-color: #228fb4;
  --list-navigation-selected-background-color: rgba(34, 143, 180, 0.15);
  --list-timeline-color: #a0a0a0;
  --list-timeline-background-color: var(--background-color);
  --list-navigation-title-color: #a0a0a0;
  --list-navigation-event-color: #202020;
  --list-navigation-event-hover-color: black;
  --navigation-color: #a0a0a0;
  --plus-button-color: white;
  --event-color: #606060;
  --lightbox-background-color: #080c12;
  --lightbox-close-button-color: white;
  --info-overlay-background-color: rgba(255, 255, 255, 0.9);
  --info-overlay-close-button-color: #606060;
  --info-overlay-key-color: #228fb4;
  --info-overlay-text-color: var(--text-color);

  /* Dark mode colors */
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #d0d0d0;
    --background-color: #080c12;
    --list-navigation-selected-color: #4ea5c3;
    --list-navigation-selected-background-color: rgba(34, 143, 180, 0.1);
    --list-timeline-color: #c0c0c0;
    --list-timeline-background-color: var(--background-color);
    --list-navigation-title-color: #909090;
    --list-navigation-event-color: #c0c0c0;
    --list-navigation-event-hover-color: white;
    --navigation-color: #e0e0e0;
    --plus-button-color: white;
    --event-color: #c0c0c0;
    --lightbox-background-color: #080c12;
    --lightbox-close-button-color: #e0e0e0;
    --info-overlay-background-color: rgba(0, 0, 0, 0.8);
    --info-overlay-close-button-color: #c0c0c0;
    --info-overlay-key-color: #4ea5c3;
    --info-overlay-text-color: var(--text-color);
  }
}

/* Animations */

@keyframes homeImageAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes photoReveal {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Global */

html,
body {
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
}
.noscroll {
  overflow: hidden !important;
}

/* List container */

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: var(--default-time);
}
.list-container .navigation button,
.list-container .navigation a.button {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 30px;
  background-color: transparent;
  border: 2px solid var(--navigation-color);
  border-radius: 25px;
  color: var(--navigation-color);
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  transition: var(--default-time);
}
.list-container .navigation button:hover,
.list-container .navigation a.button:hover {
  opacity: 1;
}
.list-container .navigation .navigation-mobile {
  display: none;
}
.list-container .navigation .navigation-global .info-button {
  bottom: 30px;
}
.list-container .navigation .navigation-global .info-button.upper {
  bottom: 80px;
}
.list-container .navigation .navigation-global .scroll-top-button {
  bottom: 30px;
}
.list-container .navigation .navigation-global .scroll-top-button.hidden {
  bottom: -50px;
}
.list-container app-events-list {
  position: relative;
  width: 350px;
  height: 100vh;
}
.list-container app-events-list .close-button {
  display: none;
}
.list-container app-events-list .list-container {
  position: fixed;
  max-width: 300px;
  top: calc(100vh * 0.2);
  display: flex;
  flex-direction: column;
  padding: 25px;
  opacity: 0;
}
.list-container app-events-list .list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  z-index: 100;
}
.list-container app-events-list .list-container ul li .category-name,
.list-container app-events-list .list-container ul li .event-name {
  padding: 7px 10px 7px 15px;
  font-size: 1.25rem;
}
.list-container app-events-list .list-container ul li .category-name {
  color: var(--list-navigation-title-color);
  padding-right: 55px;
}
.list-container app-events-list .list-container ul li .event-name {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: var(--default-time);
}
.list-container app-events-list .list-container ul li .event-name .event-name-text {
  color: var(--list-navigation-event-color);
  line-height: 25px;
  transition: var(--default-time);
}
.list-container app-events-list .list-container ul li .event-name .event-name-cursor {
  margin-left: 30px;
  display: inline-block;
  width: 11px;
  min-width: 11px;
  height: 11px;
  background-color: var(--list-timeline-background-color);
  border: 2px solid var(--list-timeline-color);
  border-radius: 10px;
  transition: var(--default-time);
}
.list-container app-events-list .list-container ul li .event-name:not(.active):hover .event-name-text {
  color: var(--list-navigation-event-hover-color);
  transform: scale(1.1);
}
.list-container app-events-list .list-container ul li .event-name:not(.active):hover .event-name-cursor {
  border-color: var(--list-navigation-event-hover-color);
}
.list-container app-events-list .list-container ul li .event-name.active {
  background-color: var(--list-navigation-selected-background-color);
}
.list-container app-events-list .list-container ul li .event-name.active .event-date {
  display: inline;
}
.list-container app-events-list .list-container ul li .event-name.active .event-name-text {
  color: var(--list-navigation-selected-color);
}
.list-container app-events-list .list-container ul li .event-name.active .event-name-cursor {
  background-color: var(--list-navigation-selected-color);
  border-color: var(--list-navigation-selected-color);
}
.list-container app-events-list .list-container .line {
  position: absolute;
  width: 0;
  height: calc(100% - 120px);
  top: 80px;
  right: 42px;
  border-left: 1px solid var(--list-timeline-color);
  z-index: 10;
}
.list-container .events app-event {
  display: flex;
  flex-direction: row;
  width: 850px;
  min-height: 600px;
  padding: 50px 0;
}
.list-container .events app-event .event-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: var(--slow-time);
}
.list-container .events app-event .event-container img:first-child {
  width: 100%;
  margin-bottom: 5px;
}
.list-container .events app-event .event-container img {
  cursor: pointer;
}
.list-container .events app-event .event-container .event-plus-button {
  width: 40px;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: var(--plus-button-color);
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5;
}
.list-container .events app-event .event-container .event-plus-button:hover {
  opacity: 0.7;
}
.list-container .events app-event .event-info {
  padding-left: 20px;
  max-width: 230px;
  transition: var(--slow-time);
}
.list-container .events app-event .event-info .event-name {
  color: var(--event-color);
  font-size: 1.25rem;
}
.list-container .events app-event .event-info .event-date {
  margin-top: 5px;
  color: var(--event-color);
  font-size: 0.85rem;
}
.list-container .events app-event .event-container:not(.visible),
.list-container .events app-event .event-info:not(.visible) {
  opacity: 0;
}

/* Lightbox */

app-lightbox .lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--lightbox-background-color);
  z-index: 10000;
}
app-lightbox .lightbox-container .lightbox-images {
  top: 2rem;
  left: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  position: relative;
}
app-lightbox .lightbox-container .lightbox-images .lightbox-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: var(--lightbox-animation-time);
}
app-lightbox .lightbox-container .lightbox-images .lightbox-image.active {
  left: 0;
  opacity: 1;
}
app-lightbox .lightbox-container .lightbox-images .lightbox-image.left-hidden {
  left: -100%;
  opacity: 0;
}
app-lightbox .lightbox-container .lightbox-images .lightbox-image.right-hidden {
  left: 100%;
  opacity: 0;
}
app-lightbox .lightbox-container .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--lightbox-close-button-color);
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.5;
  outline: none;
  transition: var(--default-time);
}
app-lightbox .lightbox-container .close-button:hover {
  opacity: 1;
}
app-lightbox .lightbox-container.hidden {
  display: none;
}

/* Info overlay */

.info-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--info-overlay-background-color);
  backdrop-filter: blur(5px);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-overlay .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--info-overlay-close-button-color);
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.5;
  outline: none;
  transition: var(--default-time);
}
.info-overlay .close-button:hover {
  opacity: 1;
}
.info-overlay .info-section {
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}
.info-overlay .info-section .info-illustration {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.info-overlay .info-section .info-illustration .key {
  width: 35px;
  height: 35px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--info-overlay-key-color);
  box-shadow: 0px 4px 0px 0px var(--info-overlay-key-color);
  color: var(--info-overlay-key-color);
  transition: var(--default-time);
}
.info-overlay .info-section .info-illustration .key.adaptive-key {
  width: auto;
  padding: 0 10px;
}
.info-overlay .info-section .info-illustration .double {
  margin-top: 14px;
  margin-left: 5px;
  color: var(--text-color);
  font-size: 18px;
}
.info-overlay .info-section .info-explaination {
  width: 60%;
  padding: 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--info-overlay-text-color);
}
.info-overlay .info-section .info-explaination p a {
  color: var(--info-overlay-key-color);
}
.info-overlay.hidden {
  display: none;
}

/* Media queries */

@media (max-width: 1249px) {
  .list-container .events app-event {
    flex-direction: column;
    flex-flow: column-reverse;
    width: 650px;
    min-height: unset;
  }
  .list-container .events app-event .event-info {
    width: 600px;
    max-width: unset;
    padding: 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 1023px) {
  .list-container {
    padding-top: 60px;
  }
  .list-container .navigation {
    position: fixed;
    top: 0;
    width: calc(100% - 7vw);
    padding: 0 3.5vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    z-index: 1000;
  }
  .list-container .navigation button {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 24px;
  }
  .list-container .navigation .navigation-mobile {
    display: initial;
  }
  .list-container .navigation .navigation-global .info-button {
    bottom: unset;
    right: -40px;
  }
  .list-container .navigation .navigation-global .info-button.upper {
    bottom: unset;
    right: 0;
  }
  .list-container .navigation .navigation-global .scroll-top-button {
    bottom: unset;
    right: 0;
  }
  .list-container .navigation .navigation-global .scroll-top-button.hidden {
    bottom: unset;
    right: -100px;
  }
  .list-container app-events-list.hidden {
    left: -100%;
  }
  .list-container app-events-list.hidden .close-button {
    left: -100%;
  }
  .list-container app-events-list {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    background-color: var(--background-color);
    z-index: 10000;
    overflow: auto;
    transition: var(--default-time);
  }
  .list-container app-events-list .close-button {
    display: inline-block;
    position: fixed;
    top: 4vw;
    left: 4vw;
    border: none;
    background: none;
    color: var(--text-color);
    font-size: 24px;
    opacity: 0.5;
    transition: var(--default-time);
  }
  .list-container app-events-list .close-button:active {
    opacity: 1;
  }
  .list-container app-events-list .list-container {
    position: relative;
    max-width: initial;
    width: 100%;
    top: unset !important;
    padding: 50px;
  }
  .list-container app-events-list .list-container ul {
    text-align: left;
  }
  .list-container app-events-list .list-container ul li .event-name {
    padding: 7px 30px;
    display: flex;
    justify-content: flex-start;
  }
  .list-container app-events-list .list-container ul li .event-name .event-name-cursor {
    display: none;
  }
  .list-container app-events-list .list-container .line {
    display: none;
  }
  .list-container .events app-event {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .list-container .events app-event {
    width: 90vw;
    padding: 7vw 0;
  }
  .list-container .events app-event .event-container,
  .list-container .events app-event .event-info {
    width: auto;
  }
  .list-container .events app-event .event-info {
    flex-direction: column;
    align-items: flex-start;
  }
}
