<div class="list-container">
  @for(category of list; track $index) {
    <ul>
      <li>
        <div class="category-name">
          {{ category.name }}
        </div>
        @for(event of category.events; track $index) {
          <ul>
            <li>
              <div class="event-name"
                [ngClass]="{'active': event.id == selectedEventId}"
                (click)="selectEvent(event.id)">
                <span class="event-name-text">{{ event.name }}</span>
                <span class="event-name-cursor"></span>
              </div>
            </li>
          </ul>
        }
      </li>
    </ul>
  }
  
  <div class="line"></div>
</div>

<button class="close-button"
  (click)="closeMobileNavigation()">
  <i class="fas fa-times"></i>
</button>